# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/

# Virtual Environments
venv/
env/
.venv/
.env/

# pytest
.pytest_cache/
.coverage
htmlcov/

# Docker
.dockerignore